{
  "defaultFee": 10,
  "includeVat": true,
  "clients": {
    "myclient": {
      "sheetId": "some-google-docs-sheet-ID"
    },
    "someotherclient": {
      "defaultFee": 15,
      "includeVat": false,
      "sheetId": "some-google-docs-sheet-ID",
    }
  }
}
