{
  "defaultFee": 12345,
  "includeVat": true,
  "clients": {
    "myclient": {
      "sheetId": "some-google-docs-sheet-ID"
    },
    "someotherclient": {
      "includeVat": false,
      "sheetId": "some-google-docs-sheet-ID"
    }
  }
}
