// See default.js for the base config

module.exports = {
  // Default hourly fee to use (unless overridden elsewhere)
  defaultFee: 10,
  // Whether to put VAT on the invoice
  includeVat: false,
  clients: {
    bar: {
      // The sheet ID in Google Sheets - can be found in the URL
      sheetId: "xxxxxxxxxxxxx"
    },
    foo: {
      // Default hourly fee for this client (unless overridden in a sheet row)
      defaultFee: 15,
      sheetId: "yyyyyyyyyyyyy"
    }
  },
  // Configure this if you use custom column names in our sheets (see default.js for the defaults)
  columnNames: {
    numberOfHours: 'Foo'
  }
}
